<%= render "header" %>
<main class="d-flex flex-column align-items-center">
  <%= image_tag 'blue-piggy.png', alt: 'logo', class: 'blue_piggy' %>

  <button type="button" class="btn btn-primary m-2">Log in</button>
  <button type="button" class="btn btn-secondary m-2">Create new Account <Account></Account></button>

</main>

<%= render "footer" %>

