@import "bootstrap";
@import "icons.css";

$primary_color: #3778c2;
$secondary_color: #5fb523;
$text_color: #434b54;
@font-face {
  font-family: "proxima";
  src: url("fonts/proxima.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  background-color: $primary_color;
  padding: 5px;
}

.navbar-nav,
.nav-link,
.navbar-brand,
.navbar-toggler {
  color: #fff;
  border-color: #fff;
}

.btn-primary {
  background-color: #3778c2;
}

.btn-secondary {
  background-color: #5fb523;
  color: #fff;
}

.blue_piggy {
  padding-top: 50px;
  padding-bottom: 35px;
  width: 75%;
}

.back {
  margin-left: 50%;
  margin-top: 5%;
  border-radius: 50% !important;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none !important;
  padding: 30px 30px !important;
  -webkit-transition: background-color 1s, color 1s, -webkit-transform 0.5s;
  transition: background-color 1s, transform 0.5s;
}

.amount {
  color: #5fb523;
}

.border-secondary {
  border-color: #5fb523;
  border-radius: 5px;
}

.link_btn {
  text-align: center;
  text-decoration: none;
}

.category_container {
  width: 90%;
}

.bg_gray {
  background-color: #f0efef;
}

.bg_white {
  background-color: #fff;
}

.full-width {
  width: 100%;
}

.btn-h {
  padding: 30px 0;
  font-size: 20px;
  margin-bottom: 0;
}

.fz-12 {
  font-size: 12px;
}

.fz-14 {
  font-size: 12px;
  color: #5fb523;
}

.img_icon {
  width: 100px;
  height: 100px;
  background-image: asset-url("icons.jpg");
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 6px 0px #3778c2;
  box-shadow: 0px 0px 6px 0px #3778c2;
}

#img_icon0 {
  background-position: -102px -60px;
}

#img_icon1 {
  background-position: -241px -60px;
}

#img_icon2 {
  background-position: -380px -60px;
}

#img_icon3 {
  background-position: -519px -60px;
}

#img_icon4 {
  background-position: -658px -60px;
}

#img_icon5 {
  background-position: -797px -60px;
}

#img_icon6 {
  background-position: -102px -193px;
}

#img_icon7 {
  background-position: -241px -193px;
}

#img_icon8 {
  background-position: -380px -193px;
}

#img_icon9 {
  background-position: -519px -193px;
}

#img_icon10 {
  background-position: -658px -193px;
}

#img_icon11 {
  background-position: -797px -193px;
}

#img_icon12 {
  background-position: -102px -321px;
}

#img_icon13 {
  background-position: -380px -321px;
}

#img_icon14 {
  background-position: -519px -321px;
}

#img_icon15 {
  background-position: -658px -321px;
}

#img_icon16 {
  background-position: -797px -321px;
}

#img_icon17 {
  background-position: -102px -460px;
}

#img_icon18 {
  background-position: -241px -460px;
}

#img_icon19 {
  background-position: -380px -460px;
}

#img_icon20 {
  background-position: -519px -460px;
}

#img_icon21 {
  background-position: -658px -460px;
}

#img_icon22 {
  background-position: -797px -460px;
}

#img_icon23 {
  background-position: -102px -590px;
}

#img_icon24 {
  background-position: -241px -590px;
}

#img_icon25 {
  background-position: -380px -590px;
}

#img_icon26 {
  background-position: -519px -590px;
}

#img_icon27 {
  background-position: -658px -590px;
}

#img_icon28 {
  background-position: -797px -590px;
}

body {
  font-family: "proxima";
  color: #434b54;

  main {
    height: 100vh;

    p {
      margin-bottom: 0;
    }
  }
}
