.img_icon {
  width: 100px;
  height: 100px;
  background-image: url(/assets/icons.jpg);
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 6px 0px #3778c2;
  box-shadow: 0px 0px 6px 0px #3778c2;
}

#img_icon0 {
  background-position: -102px -60px;
}

#img_icon1 {
  background-position: -241px -60px;
}

#img_icon2 {
  background-position: -380px -60px;
}

#img_icon3 {
  background-position: -519px -60px;
}

#img_icon4 {
  background-position: -658px -60px;
}

#img_icon5 {
  background-position: -797px -60px;
}

#img_icon6 {
  background-position: -102px -193px;
}

#img_icon7 {
  background-position: -241px -193px;
}

#img_icon8 {
  background-position: -380px -193px;
}

#img_icon9 {
  background-position: -519px -193px;
}

#img_icon10 {
  background-position: -658px -193px;
}

#img_icon11 {
  background-position: -797px -193px;
}

#img_icon12 {
  background-position: -102px -321px;
}

#img_icon13 {
  background-position: -380px -321px;
}

#img_icon14 {
  background-position: -519px -321px;
}

#img_icon15 {
  background-position: -658px -321px;
}

#img_icon16 {
  background-position: -797px -321px;
}

#img_icon17 {
  background-position: -102px -460px;
}

#img_icon18 {
  background-position: -241px -460px;
}

#img_icon19 {
  background-position: -380px -460px;
}

#img_icon20 {
  background-position: -519px -460px;
}

#img_icon21 {
  background-position: -658px -460px;
}

#img_icon22 {
  background-position: -797px -460px;
}

#img_icon23 {
  background-position: -102px -590px;
}

#img_icon24 {
  background-position: -241px -590px;
}

#img_icon25 {
  background-position: -380px -590px;
}

#img_icon26 {
  background-position: -519px -590px;
}

#img_icon27 {
  background-position: -658px -590px;
}

#img_icon28 {
  background-position: -797px -590px;
}
