<%= link_to "<", categories_path, class: "btn btn-primary m-2" %>
<div class="d-flex flex-column align-items-center p-2">

  <h1>New category</h1>

  <%= render "form", category: @category %>

  <br>
</div>

